/* players.component.css */

/* .players-container {
    border-radius: 8px;
    overflow: hidden;
    background-color: #f8d7da; 
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  } */
  /* Red background for player names */
  /* Add more styles as needed */
  